@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Oswald:wght@500&display=swap');

body{
    background-color: #F0F8FF;
    font-family: 'Albert Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: red;
    justify-content: center;
    display: flex;

}

#msg{
    width: 600px;
    height: 200px;
    margin-top: 15px;
    display: flex;
}

.botoes{
    margin-top: 15px;
    width: 300px;
    display: flex;
}

#botao_msg{
    margin-right: 10px;
    font-size: 1em;
}

#botao_limpa-form{
    justify-content: flex-end;
}

